body{
    background-color: red;
    color: black;
}
section{
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center; 
}

.chamada-texto{
    margin-right: 40px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}